.root {
    height: 4.6rem;
    display: flex !important;
    padding: 0.6rem 1rem 0.6rem 1rem !important;
}

.root > *:not(:first-child) {
    margin-left: 1rem !important;
}

.btnGroup {
    display: flex;
    background-color: #44292A;

    justify-content: space-around;
    border-radius: 1rem;
    padding: 0.4rem;
}

.btnGroup .btn:not(:first-child) {
    margin-left: 1rem;
}

.btn {
    font-size: 1rem !important;
    box-shadow: none !important;
    padding: 1rem !important;
}

.btn p {
    margin-left: 0.6rem;
    width: max-content !important;
}

.btnMini {
    margin: 0.4rem !important;
}