.root {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    margin-left: 2rem;
    margin-top: 1rem;
}

.toolbar {
}

.content {

}

.errorAccess {
    margin: auto;
    font-size: 2rem;
}
