.ButtonFilled {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    padding: 1rem;
    border-radius: 16rem;
    font-size: 1.4rem;
    min-width: 9rem;
    font-weight: normal;
    outline: none;
}

.btnDisabled {
    cursor: not-allowed;
    background-color: #534343!important;
    color: #A08C8C!important;
}

.primary {
    background-color: #5D3F3F;
    color: #FFDAD9;
}

.primary:hover {
    background-color: #624040;
}

.primary:active {
    background-color: #644545;
}

.secondary {
    background-color: #FFB3B6;
    color: #5F131C;
}

.secondary:hover {
    background-color: #eea4a7;
}

.secondary:active {
    background-color: #fdb9bc;
}

.tertiary {
    background-color: #EEBF78;
    color: #442B00;
}

.tertiary:hover {
    background-color: #e1b571;
}

.tertiary:active {
    background-color: #f8ca84;
}

.ButtonIconMR {
    margin-right: 0.6rem;
}
