.root {
    height: 4.6rem;
    display: flex !important;
    padding: 0.6rem 1rem 0.6rem 1rem !important;
}

.btnGroup {
    display: flex;
    background-color: #44292A;
    margin-left: 1rem;
    margin-right: 0.3rem;
    justify-content: space-around;
    width: 20rem;
    border-radius: 1rem;
    padding: 0.4rem;
}

.btn {
    font-size: 1rem !important;
    box-shadow: none !important;
    padding: 1rem !important;
}

.btnMini {
    margin: 0.4rem !important;
}

.partTwo{
    height: 4.6rem;
    display: flex !important;
    padding: 0.6rem 1rem 0.6rem 1rem !important;
}