.root {
}

.spacing > *:not(:first-child) {
    margin-left: 2rem !important;
}

.spacing > button {
    height: 3.4rem;
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}