.root {
    height: 4.6rem;
    display: flex !important;
    padding: 0.6rem 1rem 0.6rem 1rem !important;
}

.btn {
    box-shadow: none !important;
    margin-top: 0.4rem !important;
    margin-bottom: 0.4rem !important;
    font-size: 1rem !important;
    padding: 1rem 2rem 1rem 2rem !important;
}